@model IEnumerable<MVC_5Temp.Models.Customer>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@{
    ViewBag.Title = "Index";
}

<div id="MyData">
    @{
        Html.RenderPartial("Myclients");
    }
</div>

<div id="MyForm">

</div>